<form action="/account/favorites/?recipeId=<%= recipe.id %>&image=<%= recipe.image %>&title=<%= recipe.title %>"
    class="fav" method="POST">
    <input type="checkbox" name="fav" id="fav-toggle-<%= ind %>" class="fav__toggle" onchange="this.form.submit()">
    <label for="fav-toggle-<%= ind %>" class="fav__label">
        <div class="fav__btn"><i class="fav__icon fav__icon--unfav fas fa-heart"></i></div>
    </label>
</form>