<% layout('layouts/boilerplate') %>
<%- include('../partials/acctMenu', {keyWordFav, keyWordMgmt: ''}) %>

<div class="account__section account__favorite" id="favorite-recipes">
    <div class="account__favorite-container">
        <% if(userFavoriteRecipes.length) { %>
        <% userFavoriteRecipes.forEach((favRecipe, ind) => { %>
        <div class="fav-card">
            <!-- insert fav button -->
            <div class="fav-card__fav-box">
                <%- include('../partials/unfavform', {id: favRecipe.id, ind}) %>
            </div>
            <!-- insert fav button ends-->
            <a href="/recipes/<%= favRecipe.recipeId %>" class="fav-card__link">
                <div class="fav-card__img-container">
                    <img src="<%= favRecipe.image %>" alt="" class="fav-card__img">
                </div>
                <h2 class="fav-card__recipe-title heading--2"><%= favRecipe.title %></h2>
            </a>
        </div>
        <% }) %>
        <% } else { %>
        <div class="account__nofav">
            <h4 class="account__nofav-text heading--4 center-element">You haven't saved any recipes yet.</h4>
        </div>
        <% } %>
    </div>

</div>