<% layout('layouts/boilerplate') %>

<button class="btn-back" onclick="window.history.back()">
    <i class="btn-back__icon fas fa-chevron-left"></i>
</button>

<div class="recipe">
    <div class="recipe__heading">
        <div class="recipe__img-container">
            <img src=<%= recipe.image %> alt="" class="recipe__img">
        </div>
        <h2 class="recipe__name heading--2"><%= recipe.title %> </h2>
        <p class="recipe__summary"><%- recipe.summary ? recipe.summary : '' %> </p>
        <div class="recipe__stats-container">
            <div class="recipe__stats">
                <p><i class="recipe__stats-icon fas fa-user"></i></p>
                <h4 class="recipe__stats-heading heading--4">Servings</h4>
                <p class="recipe__servings"><%= recipe.servings ? recipe.servings : 'N/A' %> </p>
            </div>
            <div class="recipe__stats">
                <p><i class="recipe__stats-icon fas fa-clock"></i></p>
                <h4 class="recipe__stats-heading heading--4">Cooking Time</h4>
                <p class="recipe__cooking-time"><%= recipe.readyInMinutes ? recipe.readyInMinutes : 'N/A' %> min</p>
            </div>
            <div class="recipe__stats">
                <p><i class="recipe__stats-icon fas fa-star"></i></p>
                <h4 class="recipe__stats-heading heading--4">Healthy Score</h4>
                <p class="recipe__health-score"><%= recipe.healthScore ? recipe.healthScore : 'N/A' %> </p>
            </div>
        </div>
    </div>

    <div class="recipe__ingredients">
        <h3 class="recipe__section-title heading--3">Ingredients</h3>
        <ul class="recipe__ingredients-list">
            <% recipe.extendedIngredients.forEach(ingredient=>{ %>
            <li class="recipe__ingredient-item">
                <%= ingredient.amount %> <%= ingredient.unit %> <%= ingredient.name %>
            </li>
            <% }) %>
        </ul>
    </div>

    <div class="recipe__instructions">
        <h3 class="recipe__section-title heading--3">Instructions</h3>
        <ol class="recipe__instructions-list">
            <% if (recipe.analyzedInstructions[0] && recipe.analyzedInstructions[0].steps) { %>
            <% recipe.analyzedInstructions[0].steps.forEach(instruction=>{ %>
            <li class="recipe__instruction-item">
                <%= instruction.step %>
            </li>
            <% }) %>
            <% } %>
        </ol>
    </div>

    <div class="recipe__taste">
        <h3 class="recipe__section-title heading--3">Taste</h3>
        <div class="recipe__taste-container">
            <%- taste %>
        </div>
    </div>

    <div class="recipe__nutritions">
        <h3 class="recipe__section-title heading--3">Nutritions</h3>
        <%- nutrition %>
    </div>


    <div class="recipe__reviews">
        <h3 class="recipe__section-title heading--3">Reviews</h3>

        <% if(currentUser) { %>
        <div class="recipe__write-review">
            <h4 class="recipe__reviews-heading heading--4">Write a review</h4>
            <!-- send review data to server -->
            <form action="/recipes/<%= recipe.id %>/reviews" class="review-form" method="POST">
                <div class="review-form__rating">
                    <!-- star rating: https://github.com/LunarLogic/starability -->
                    <fieldset class="starability-basic">
                        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked
                            aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                    </fieldset>
                    <!-- start rating ends -->
                </div>

                <div class="review-form__text-container">
                    <!-- <label class="form-label" for="body">Review</label> -->
                    <textarea class="review-form__text-field" name="review[text]" id="body"
                        placeholder="Enter your review..." required></textarea>
                </div>
                <div class="review-form__btn-container">
                    <button class="review-form__btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
        <% } else { %>
        <h4 class="recipe__reviews-heading heading--4 center-element">
            <a href="/login" class="recipe__review-login">Login</a> to write review
        </h4>
        <% } %>

        <!-- display reviews -->
        <div class="recipe__display-review">
            <% reviews.forEach(review => { %>
            <div class="review">
                <div class="starability-result review__rating" data-rating=<%= review.rating %>>Rating:
                    <%= review.rating %> stars
                </div>
                <div class="review__author">by <%= review.author.username %></div>
                <div class="review__text"><%= review.text %></div>

                <!-- display delete button if the loggin user is the author -->
                <% if (currentUser && currentUser.username === review.author.username) { %>
                <form action="/recipes/<%= recipe.id %>/reviews/<%= review._id %>?_method=DELETE"
                    class="review__delete-form" method="POST">
                    <div class="review__delete-box">
                        <button class="review__delete-btn btn-delete">Delete</button>
                    </div>
                </form>
                <% } %>

            </div>
            <% }) %>

        </div>

    </div>
</div>